

*{
border: 3px dashed #0000FF;
}


p
  {
  padding:90px;
  margin:60px 80px;
  position:absolute;
  left:30px;
  top:300px;
  bottom: 90px;
  right: 20px;
  height:400px;
  width:300px;
  }




p.inline
  {
  display:inline;
  }


